/* MAIN STYLESHEET FOR TOOLSNIPPY.COM */
body {
  font-family: 'Roboto', sans-serif;
}

#primary-nav {
  text-transform: uppercase;
  opacity: 0.95;
}

.intro {
  padding-top: 70px;
  /* min-height: 80vh; */
  /* background: #ffffff url("../images/intro-bg.png") no-repeat right; */
  background: #EBECED;
}

.intro h1,
.intro .h1,
.intro h2,
.intro .h2 {
  line-height: 150%;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #ffffff;
}

.intro h1, .intro .h1 {
  font-size: 170%;
}

.intro h2 {
  font-size: 1.3em;
}

.nav-pills > li > .nav-link {
  background: #f4c68d;
  color: #333;
}

.nav-pills > li:last-child > .nav-link {
  margin-left: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #a5710f;
}
code {
  color: #a5710f;
}


.text-brown {
  color: #aa6c01;
}

/* CAROUSEL OVERRIDE */
.carousel-indicators {
  position: relative;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #dedede;
}
.carousel-indicators .active {
    background-color: #333333;
}
