/* MAIN STYLESHEET FOR TOOLSNIPPY.COM */
body {
  font-family: 'Roboto', sans-serif;
}

#intro h2, #intro .h2 {
  font-size: 100%;
}

#intro .description {
  margin-top: 7.5em;
}

#intro h3, #intro .h3 {
  font-size: 170%;
}

#intro h4, .intro h4 {
  font-size: 110%;
}

.nav-pills > li > .nav-link {
  background: #f4c68d;
  color: #333;
}

.nav-pills > li:last-child > .nav-link {
  margin-left: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #a5710f;
}
code {
  color: #a5710f;
}
